.table-1 {
    border: 1px solid #ccc;
    width: 400px;
    height: 200px;
    border-spacing: 3px;
    padding-left: 15px;
}

.table-1 td {
    border: 1px solid black;
    padding: 5px;
    vertical-align: top;
    text-align: left;
}

h1,
h3,
p {
    text-align: center;
}