.menu > li{
    list-style-type: none;
    border: 1px solid #000;
    width: 150px;
    height: 75px;
    display: block;
}

.menu a{
    width: 100%;
    display: block;
    height: 100%;
}

.menu li ul{
    display: none;
}

.menu li:hover ul{
    display:block;
}

.logo {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    margin-left: 50px;
    margin-top: 50px;
    outline: 2px solid #000;
}

.logo:hover{
    outline: none;
}

.list li{
    padding-top: 10px;
    padding-bottom: 10px;
/*    margin-top: 10px;
    margin-bottom: 10px;
    */
}

.someone {
    width: 100px;
    height: 100px;
/*    background-color: #ccc;  */
    outline: 2px solid #000;
    float: left;
    margin-right: 5px;
}

.someone:hover{
    outline: none;
}

.footer{
    background-color: #ccc;
/*    clear: both;  */
    overflow: hidden;
}

.container {
    width: 90%;
    background-color: #ccc;
    margin: 0 auto;
    
}

.product {
    width: 200px;;
    height: 150px;
    border: 2px solid black;

}

.product_1 {
    background-color: #ccc;
    position: relative;
    top: 50px;
    left: 150px;

}

.product_2 {
/*    z-index: 1;  */
}

/* ========================================================= */

.cl1 {
    background-color: #fff;
    border: 1px solid #000;
    margin: 0 auto;
}

.cl2 {
    background-color: darkgrey;
    height: 200px;
}

.logo1 {
    background-color: darkred;
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}