.menu li:hover:after{
    content: " <<<<< ";
    color: red;
}

.menu li:first-child{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.menu li:last-child{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

/*
.menu li:nth-child(1){
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
*/

.menu li:nth-child(2n){
    background-color: #ccc;
}

.menu li {
    border: 1px solid #000;
    width: 160px;
    height: 30px;
    list-style: none;
    text-align: center;
}

.menu li a:hover{
    color: red;
}

.menu li a:active{
    color: green;
}

h1,
h3,
p{
    text-align: center;
}

p{
    text-align: left;
    background-color: #ccc;
}

.list{
    list-style-type: none;
}

.list li:nth-child(2):after{
    content: " New";
    color: blue;
/*    text-transform: lowercase;  */
}

.text-1:first-letter{
    font-size: 30px;
    color: brown;
}